<%= form_for(@project) do |f| %>
    <p>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.label :description %>
      <%= f.text_area :description %>
    </p>
    <p>
      <%= f.label :start_date %>
      <%= f.date_select :start_date %>
    </p>
    <p>
      <%= f.label :end_date %>
      <%= f.date_select :end_date %>
    </p>
    <p>
      <%= f.label :funding_goal %>
      <%= f.text_field :funding_goal %>
    </p>
    <h3>Category</h3>
    <%= f.collection_select(:category_id, Category.all, 'id', 'name') %>

    <h4>Rewards</h4>

    <div id="rewards_container">
      <%= f.fields_for :rewards do |rwd| %>
          <%= render "reward_fields", f: rwd %>
      <% end %>
      <%= link_to_add_association "Add Reward", f, :rewards %>
    </div>

    <p>
      <%= f.submit "Submit", class: "button" %>
    </p>
<% end %>
