<%= link_to "New Project", new_project_path %>

<h1>Projects</h1>

<ul>
  <% @projects.each do |project| %>
      <li><%= link_to project.name, "/projects/#{project.id}" %>
        <% if project.owner == current_user %>
            Pledged: <%= number_to_currency(project.pledges.sum(:amount), precision: 0) %>, Days to Completion: <%= distance_of_time_in_words_to_now(project.end_date) %>(
            <%= (project.end_date.to_date - Date.current).to_i %> days)
        <% else %>

        <% end %>
      </li>
  <% end %>
</ul>