<div id="individual_project">
  <%= render :partial => "/projects/individual_project" %>
</div>


<%= link_to "Back", projects_path %>

<h2>Rewards</h2>

<% @rewards.each do |reward| %>
  <ul>
    <li>Title: <%= reward.title %></li>
    <li>Description: <%= reward.description %></li>
    <li>Amount: $<%= reward.amount %></li>
    <% if current_user != @project.owner %>
    <!-- After link is selected, for response sent by AJAX instead of by html add , remote: true -->
      

      <li><%= form_tag pledges_path(reward_id: reward.id, project_id: @project), method: :post, class: 'rewards-form' do %>
          <%= submit_tag "Select this reward", id: 'button' %>
          <% end %>
      </li>
    <% end %>  
  </ul>
<% end %>


